@{
    ViewBag.Title = "Team";
}
<div class="template-wrapper">
    <div class="block block-page_header_block span12 first ">
	    <div class="span12 block-title centered">
		    <h2>A TOP NOTCH TEAM</h2>
		    <p>Creating amazing stuff to help you be the hero of the story.</p>
	    </div>
	    <div class="span12 block-divider"></div>
    </div>
						
    <!-- Members -->
    <div class="block block-team_member_block span3 first cf">
	    <div class="member">
		    <div class="member-social"><a data-original-title="Facebook" data-toggle="tooltip" href="https://www.facebook.com/svetoslav.todorov.9678" class="icon-facebook-sign"></a><a data-original-title="Linkedin" data-toggle="tooltip" href="https://www.linkedin.com/profile/view?id=393229293" class="icon-linkedin-sign"></a></div>
            <img src="~/Images/TeamPortaints/DrNerfTeamPortaint.png" alt="The team" />
		    <h3>Svetoslav Todorov</h3>
		    <span>Lead Programmer & Co-founder</span>
		    <div class="content">
                <p>
                    I'm 19 years old Bulgarian and I work as Unity3D/.NET Developer in Polar Ideas Ltd. 
                    My current hobby is game development, which I hope to turn into a job. 
                    If you have any questions, you can send them at TODO.
                </p>
		    </div>
		    <div class="bline"></div>
	    </div>
	    </div>
						 
    <div class="block block-team_member_block span3 ">
	    <div class="member">
		    <div class="member-social"><a data-original-title="Facebook" data-toggle="tooltip" href="#" class="icon-facebook-sign"></a><a data-original-title="Twitter" data-toggle="tooltip" href="#" class="icon-twitter-sign"></a> <a data-original-title="Linkedin" data-toggle="tooltip" href="#" class="icon-linkedin-sign"></a> <a data-original-title="Youtube" data-toggle="tooltip" href="#" class="icon-youtube"></a></div>
		    <img src="~/Content/design/img/defaults/305x305.jpg">
		    <h3>Ivan Ivanov</h3>
		    <span>Mobile Developer & Co-founder</span>
		    <div class="content"><p>Quisque mattis diam vel lacus tincidunt esti elementum. Sed vitae adipagdcing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at sdadolor. In ia culis viverra neque, ac eleifend antd.</p></div>
		    <div class="bline"></div>
	    </div>
	    </div>
		 
    <!-- Members end -->
    <div class="clear"></div>
</div>